<html>
<body>


<li><a href="{% url 'buyersviewing' %}"> View Products </a></li>

<li><a href="{% url 'buyerupdate' %}"> Update your Profile </a></li>

<li><a href="{% url 'yourorders' %}"> Cart </a></li>

<li><a href="{% url 'orders' %}"> Your Orders </a></li>

<li><a href="{% url 'searchproduct' %}"> Search Products</a></li>

<li><a href="{% url 'searchcategory' %}"> Search Category</a></li>

<li><a href="{% url 'logout' %}"> Logout </a></li>

<li><a href="{% url 'quickpasschange' %}"> Change Password </a></li>


</body>
</html>