<html>
    <body>

        <form method="post" action="{% url 'newpassAction' %}">
            {%csrf_token%}

            

            <input type="hidden" name="username" value="{{data}}">

        <table>
            <tr>
                <td>Enter New Password</td>
                <td><input type="text" name="password"></td>
            </tr>

            <tr>
                <td>Confirm New Password</td>
                <td><input type="text" name="cnfpassword"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Update"></td>
            </tr>

           
        </table>
        </form>
    </body>
</html>